@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    min-height: 100vh;
  }
}
